@import "tailwindcss";

/* ================= ROOT ================= */
:root {
  --background: #ffffff;
  --foreground: #191a23;
}

/* ================= BASE ================= */
html,
body {
  width: 100%;
  margin: 0;
  padding: 0;
}

body {
  color: var(--foreground);
  background-color: var(--background);
  font-family: "Plus Jakarta Sans", system-ui, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* ================= RESET ================= */
*,
*::before,
*::after {
  box-sizing: border-box;
}

a {
  color: inherit;
  text-decoration: none;
}


/* ================= OPTIONAL ================= */
/* Hanya aktifkan kalau benar-benar perlu */
/*
body {
  overflow-x: hidden;
}
*/
